@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movie :: List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Movies</h2>
<p>@Html.ActionLink("New Movie", "New", "Movie", new { @class = "btn btn-primary" })</p>
<table class="table" id="movies" >
    <thead>
    <tr>
        <th scope="col">Movie</th>
        <th scope="col">Genre</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movies").dataTable({
                ajax: {
                    url: "/api/movies/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, movie) {
                            return "<button data-movie-id='" + movie.id + "' data-movie-name='" + movie.name + "' class='" + "btn btn-danger js-delete'" + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", " .js-delete", function() {
                var button = $(this);

                bootbox.confirm({
                    message: "Are you sure you want to delete the movie: <b>" + button.attr("data-movie-name") + "</b>",
                    buttons: {
                        confirm: {
                            label: 'Confirm',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-danger'
                        }
                    },
                    callback: function(result) {
                        if (result) {
                            $.ajax({
                                url: "api/movies/" + button.attr("data-movie-id"),
                                method: "DELETE",
                                success: function () {
                                    table.api().row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval");

}